In [1]:
# Dependencies and Setup
from google.cloud import bigquery

In [2]:
# A class to handle data loading from BigQuery and retrieval in Spark
class DataToSpark():
    def __init__(self, project_id, dataset_id):
        # Initialize the class with the specified project and dataset identifiers
        self.project_id = project_id
        self.dataset_id = dataset_id

    def load_tables(self, tables = []):
        # Load tables into DataFrames and store them in a dictionary
        self.df_tables = {}  # Dictionary to store DataFrames
        for i, table in enumerate(tables):
            df_table = spark.read.format("bigquery").option("table", f"{self.project_id}:{self.dataset_id}.{table}").load()
            self.df_tables[table] = df_table

    def get_tables(self):
        # Retrieve the stored DataFrames
        return self.df_tables

In [3]:
# Instantiate the 'DataToSpark' class to handle KKBOX data
kkbox = DataToSpark("customer-churn-391917", "kkbox")

# Load specific tables into DataFrames
tables_to_load = ["member", "user", "transactions", "train"]
kkbox.load_tables(tables_to_load)

# Retrieve the stored DataFrames
tables = kkbox.get_tables()

# Display the first row of each table DataFrame
for table_name, table_df in tables.items():
    print(table_name)
    table_df.show(1)

member

+--------------------+----+---+------+--------------+----------------------+
|                msno|city| bd|gender|registered_via|registration_init_time|
+--------------------+----+---+------+--------------+----------------------+
|9WrxbPwgc2BqHbNc2...|  13|  0|  null|             9|              20120320|
+--------------------+----+---+------+--------------+----------------------+
only showing top 1 row

user

+--------------------+--------+------+------+------+-------+-------+-------+----------+
|                msno|    date|num_25|num_50|num_75|num_985|num_100|num_unq|total_secs|
+--------------------+--------+------+------+------+-------+-------+-------+----------+
|FnqNUBvN8mysLeKba...|20160119|    34|     1|     1|      1|     88|    108| 24172.471|
+--------------------+--------+------+------+------+-------+-------+-------+----------+
only showing top 1 row

transactions
+--------------------+-----------------+-----------------+---------------+------------------+-------------+----------------+----------------------+---------+
|                msno|payment_method_id|payment_plan_days|plan_list_price|actual_amount_paid|is_auto_renew|transaction_date|membership_expire_date|is_cancel|
+--------------------+-----------------+-----------------+---------------+------------------+-------------+----------------+----------------------+---------+
|XAlvqCcO2lyDZNz4N...|                2|              410|           1788|              1788|            0|        20150616|              20160730|        0|
+--------------------+-----------------+-----------------+---------------+------------------+-------------+----------------+----------------------+---------+
only showing top 1 row

train
+--------------------+--------+
|                msno|is_churn|
+--------------------+--------+
|waLDQMmcOu2jLDaV1...|       1|
+--------------------+--------+
only showing top 1 row